USE [master]
GO
/****** Object:  Database [ConceptsRelationDB2]    Script Date: 04/30/2019 11:21:21 ******/
CREATE DATABASE [ConceptsRelationDB2] ON  PRIMARY 
( NAME = N'ConceptsRelationDB2', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ConceptsRelationDB2.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ConceptsRelationDB2_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\ConceptsRelationDB2_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConceptsRelationDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConceptsRelationDB2]
GO
/****** Object:  Table [dbo].[Relations]    Script Date: 04/30/2019 11:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relations](
	[RelID] [int] IDENTITY(1,1) NOT NULL,
	[RelationName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RelID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterConceptRelation]    Script Date: 04/30/2019 11:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterConceptRelation](
	[CrID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [nvarchar](255) NULL,
	[TopicName] [nvarchar](255) NULL,
	[ConceptOne] [nvarchar](255) NULL,
	[ConceptTwo] [nvarchar](255) NULL,
	[CoceptRelation] [nvarchar](255) NULL,
 CONSTRAINT [PK__MasterCo__AD761D44DEB3CE9D] PRIMARY KEY CLUSTERED 
(
	[CrID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptTwo]    Script Date: 04/30/2019 11:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptTwo](
	[C2Id] [int] IDENTITY(1,1) NOT NULL,
	[ConceptTwoName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C2Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ConceptTwoName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptOne]    Script Date: 04/30/2019 11:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptOne](
	[C1Id] [int] IDENTITY(1,1) NOT NULL,
	[ConceptOneName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C1Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ConceptOneName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 04/30/2019 11:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[TopicsName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [U_Topic] UNIQUE NONCLUSTERED 
(
	[TopicsName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaveAllCR]    Script Date: 04/30/2019 11:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaveAllCR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[fTopicId] [int] NOT NULL,
	[fRId] [int] NOT NULL,
	[fC1Id] [int] NOT NULL,
	[fC2Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_RelationConcepts] UNIQUE NONCLUSTERED 
(
	[fTopicId] ASC,
	[fC1Id] ASC,
	[fC2Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK__SaveAllCR__fC1Id__24927208]    Script Date: 04/30/2019 11:21:23 ******/
ALTER TABLE [dbo].[SaveAllCR]  WITH CHECK ADD FOREIGN KEY([fC1Id])
REFERENCES [dbo].[ConceptOne] ([C1Id])
GO
/****** Object:  ForeignKey [FK__SaveAllCR__fC2Id__25869641]    Script Date: 04/30/2019 11:21:23 ******/
ALTER TABLE [dbo].[SaveAllCR]  WITH CHECK ADD FOREIGN KEY([fC2Id])
REFERENCES [dbo].[ConceptOne] ([C1Id])
GO
/****** Object:  ForeignKey [FK__SaveAllCR__fRId__267ABA7A]    Script Date: 04/30/2019 11:21:23 ******/
ALTER TABLE [dbo].[SaveAllCR]  WITH CHECK ADD FOREIGN KEY([fRId])
REFERENCES [dbo].[Relations] ([RelID])
GO
/****** Object:  ForeignKey [FK__SaveAllCR__fTopi__276EDEB3]    Script Date: 04/30/2019 11:21:23 ******/
ALTER TABLE [dbo].[SaveAllCR]  WITH CHECK ADD FOREIGN KEY([fTopicId])
REFERENCES [dbo].[Topics] ([TopicID])
GO
